@import "tailwindcss";

@theme {
  /* --- Primitivos (Valores fijos) --- */
  --color-brand-jungle: #004b49;
  --color-brand-gold: #e2b05e;
  --color-brand-darker: #002b2a;
  --color-sanctuary-white: #fdfdfc;
  --color-sanctuary-stone: #e2e2e0;

  /* --- Tokens Semánticos (Variables que usaremos en el código) --- */
  --color-surface-primary: var(--color-brand-jungle);
  --color-surface-secondary: var(--color-brand-darker);
  --color-text-main: #ffffff;
  --color-text-dim: rgba(255, 255, 255, 0.7);
  --color-accent: var(--color-brand-gold);
}

/* --- THE ENGINE: Aquí es donde ocurre el re-mapeo fuera de @theme --- */
:root {
  /* Variables base (Dark por defecto) ya definidas en @theme */
}
 
 [data-theme='light'] {
  /* Un fondo un poco más cálido y limpio */
  --color-surface-secondary: #f9f9f8; 
  /* Cards con un blanco puro para que resalten */
  --color-surface-primary: #ffffff; 
  
  /* Texto más profundo para legibilidad */
  --color-text-main: #001a19; 
  --color-text-dim: #4a5a59;
  
  /* Un dorado más "quemado" para que no desaparezca en el blanco */
  --color-accent: #a67c37; 
  
  /* Bordes sutiles para definir formas sin el negro */
  --color-border-subtle: rgba(0, 0, 0, 0.05);
}

@layer base {
  body {
    @apply bg-surface-secondary text-text-main transition-colors duration-500 antialiased;
  }
}